<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/estilo.css">
    <link rel="icon" type="image/x-icon" href="static\css\icon.png">
</head>
<body>


<div class="form-body">
    <div class="form-holder">
        <div class="form-content">
            <div class="form-items">
                <h2>Urna Online</h2>
                <br>
                <h3>Selecione a opção do candidato que você deseja votar: </h3>
                <div class="d-flex justify-content-center ">
                    <form action="/" method="post">
                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1"> Candidatos :</label>
                             {% for candidato in candidatos %}
                            <input type="radio" class="btn-check" name="votar_candidato"
                                   value="{{ candidato[1] }}" id="{{candidato[0]}}"
                                   autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for={{candidato[0]}}>{{candidato[0]}} -
                                {{candidato[2]}}</label>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">VOTAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>